<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Clientes</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="form-group">
				<label>Nome</label> 
				<input type="text" 
					class="form-control"
					placeholder="Nome"
					th:field="*{nome}" />
			</div>
		</div>
		<table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Telefone</th>
					<th>Telefone 2</th>
					<th>Data Nascimento</th>
					<th>Opções</th>
				</tr>
			</thead>
			<tr th:each="cliente : ${nomeesquisito}">
				<td><span th:text="${cliente.id}"></span></td>
				<td><span th:text="${cliente.nome}"></span></td>
				<td><span th:text="${cliente.telefone1}"></span></td>
				<td><span th:text="${cliente.telefone2}"></span></td>
				<td><span th:text="(${cliente.dataNascimento}) 
					? ${#dates.format(cliente.dataNascimento, 'dd/MM/yyyy')} 
					: ''"></span></td>
				<td>
					<a class="btn btn-sm btn-primary" 
						th:href="@{/edit/{id}(id=${cliente.id})}" >Editar</a>
			   		<a class="delete btn btn-sm btn-danger" 
			   			th:href="@{/delete/{id}(id=${cliente.id})}">Excluir</a>
				</td>
			</tr>
		</table>
		
		<div class="row">
			<a href="irParaCadastroCliente" class="btn btn-success">Novo Cliente</a>
		</div>
	</div>
	
</body>
</html>
