<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Pizzaria</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

	<div class="container">

		<div id="listaIngredientes">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Id</th>
						<th>Descricao</th>
					</tr>
				</thead>
				<tr th:each="ingrediente : ${ingredientes}">
					<td><span th:text="${ingrediente.id}"></span></td>
					<td><span th:text="${ingrediente.descricao}"></span></td>
				</tr>
			</table>
		</div>
		
		<hr/>

		<form action="salvar" method="post">
			<div class="form-group">
				<label for="nome">Descrição</label> 
				
				<input type="text"
					class="form-control" 
					name="descricao" 
					placeholder="Descrição" />
			</div>
			<button type="submit" class="btn btn-success">Salvar</button>
		</form>

	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>